* {
    box-sizing: border-box;
}

body {
background-color: white;
}

.scan {
    background-color: #ffffff;
    padding: 1rem;
}

.title {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    height: 3rem;
    margin-right: 1rem;
    background-color: #ffffff;
    float: left;
}

.clock {
    background-color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20pt;
}

.contents {
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.reader {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    width: 50%;
    padding: 1rem;
    float: left;
}

.recent {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    width: 50%;
    float: left;
    padding: 1rem;
}

table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 100%;
    color: white;
    background-color: #404040;
}

tr {
    font-size: 120%;
    background-color: #ffffff;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #cfcfcf;
    text-align: center;
}

.menu tr:hover {
    font-size: 120%;
    background-color: #ffc0c0;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .reader {
        width: 100%;
    }
    .recent {
        width: 100%;
    }
}
