.Toastify__toast-body > div,
.Toastify__toast-body {
    text-align: center !important;
    width: 100%;
}
/* 
@media print {
    display: block;
} */

@media screen {
    .toPrint {
        display: none;
    }
}
